form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-size: large;
    font-weight: bolder;
}
form input{
    line-height: 2rem;
    border: 1px solid gray;
    border-radius: 3px;
}

form button {
    width: max-content;
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    color: white;
    background-color: rgb(90, 17, 158);
}